﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="index.aspx.cs" Inherits="WebForm1.index" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script type="text/javascript" >

        var a = parseInt(prompt("nhap so a", 0));
        var b = parseInt( prompt("nhap so b", 0));

        alert("ket qua a + b" + (a+b) );
    </script>

</head>
<body>
    <form id="form1" runat="server">
        <div>
            <marquee>Xin chào</marquee>
            <input id="Text1" type="text" />
            <input id="Text1" type="text" />
        </div>
    </form>
</body>
</html>
